[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
requests = "*"
djangorestframework = "*"
bcrypt = "*"
mysql-client = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3"
